*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    box-sizing: border-box;
    --principal-color: #0b8dea;
    --clarito-color: #b2d0e6;
    height: 200dvh;
}

div, ul, nav, header, footer, a, li, label, body{
    margin: 0;
    padding: 0;
}

/* ---------- HEADER --------- */

.header{
    background-color: #b2d0e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid var(--principal-color);
    max-height: 110px;
}


.iconmenu-header{
    width: 40px;
    margin-top: 10px;
}

.header__nav-list{
    display: flex;
    flex-direction: row;
    height: auto;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
    margin-right: 40px;
}
.header__logo{
    max-width: 100%;
    width: 150px;
    margin-left: 90px;
    position: relative;
    height: 100px;
}

.header__nav-item{
    list-style: none;
    font-size: 24px;
    color: var(--principal-color);
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    padding-right: 6px;
    border-radius: 36px 0 0 36px;
    position: relative;
}
.flecha-nav{
    color: #000;
    user-select: none;
}

.header__nav-item a{
    text-decoration: none;
    color: #000;
}

.header__nav-item a:hover{
    opacity: 0.7;
}
.logo_header{
    user-select: none;    /*cambiar */
}
.header__open-nav-button{
    display: none;
}

.header__item-container{
    position: relative;
    z-index: 10; 
    margin: auto;
    margin-top: 120px;
    text-align: center;
    max-width: 700px;
    z-index: 1;

}

.login{
    list-style: none;
    display: flex;
}

.login a{
    text-decoration: none;
    color: #000;
}

.login:hover{
    opacity: .7;
}
.login2{
    background-color: var(--principal-color);
    font-size: 24px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    padding: 40px;
    margin-right: 20px;
    margin-left: 40px;
    width: 160px;
    max-height: 10px;
    border-radius: 90px;
}
/*CATEGORIAS DE LOS PRODUCTOS*/
.productos-navbar{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.menu {
    width: 300px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
  
.menu ul{
    list-style-type: none;
    padding: 0;
}
  
.menu ul ul {
    display: none;
}
  
.menu ul li {
    position: relative;
}
  
.menu ul li a {
    display: block;
    color: #333;
}
  
.menu ul li:hover > ul {
    display: block;
    position: absolute;
    background-color: var(--clarito-color);
    border: 2px solid var(--principal-color);
    border-radius: 5px;
  }
  
.menu ul ul li {
    width: 100%;
  }
  
.menu ul ul li a {
    padding: 8px 15px;
  }
  
.menu ul ul ul {
    left: 100%;
    top: 0;
  }
  